page-contact {

}
.current-price {
    font-weight: 700; 
    font-size: 40px;
}
.percent-change {
    font-weight: 500; 
    font-size: 20px;
}

.article-title {
    font-weight: bold; 
    text-overflow: ellipsis; 
    overflow: hidden;
}

.red- {
    &text {
        color: #FF4081;
    }
    &top {
        border-top: 4px solid #FF4081;
    }
}
.green- {
    &text {
        color: #1DE9B6;
    }
    &top {
        border-top: 4px solid #1DE9B6;
    }
}
