<ion-header>
  <ion-navbar color="primary">
    <ion-title>Select a Coin</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchInput"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spinner" *ngIf="showSpinner; else showCoins">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  <ng-template #showCoins>
    <ion-list>
      <ion-item *ngFor="let coin of coins | filter : searchInput | slice : 0 : upperBound" (tap)="openWalletInfoPage(coin)">{{coin.name}}</ion-item>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </ng-template>
</ion-content>
