.red-top {
    border-top: 4px solid #FF4081;
}
.green-top {
    border-top: 4px solid #1DE9B6;
}

.coin-price {
    font-size: 30px;
    font-weight: 200;
}

.coin-percent-change {
    color: #757575;
    float: right;
}

.coin-name {
    font-weight: bold;
}