<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchInput"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>
  <ion-refresher (ionRefresh)="refreshCoinList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="spinner" *ngIf="showSpinner; else showCoins">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  <ng-template #showCoins>
    <span style="float: right; padding-right: 13px; padding-bottom: 4px;">Past 24h</span>
    <ion-card *ngFor="let coin of coins  | filter : searchInput | slice : 0 : upperBound" (tap)="openNewsPage(coin)" (press)="openCoinOptions(coin)">
      <ion-card-header [ngClass]="(coin.percent_change_24h < 0) ? 'red-top' : 'green-top'">
        <span>
          <b>{{coin.name}}</b> ({{coin.symbol}})</span>
        <span class="coin-percent-change" [ngClass]="(coin.percent_change_24h < 0) ? 'red-text' : 'green-text'">
          {{coin.percent_change_24h > 0 ? '\+' + coin.percent_change_24h + '\%' : coin.percent_change_24h + '\%'}}
        </span>
      </ion-card-header>
      <ion-card-content>
        <ion-row no-padding>
          <ion-col no-padding>
            <span class="coin-price">{{currency == 'usd'? ('$ ' + coin.price_usd): ('฿ ' + coin.price_btc)}}</span>
          </ion-col>
          <ion-col col-1 no-padding align-self-center>
            <ion-icon name='star-outline' float-right style="font-size: 20px;" (tap)="addToFavorites(coin.symbol)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
</ion-content>
