.red- {
    &text {
        color: #FF4081;
    }
    &top {
        border-top: 4px solid #FF4081;
    }
    &side {
        border-left: 4px solid #FF4081;
    }
}
.green- {
    &text {
        color: #1DE9B6;
    }
    &top {
        border-top: 4px solid #1DE9B6;
    }
    &side {
        border-left: 4px solid #1DE9B6;
    }
}

.coin-price {
    font-size: 26px;
    font-weight: 200;
}

.coin-percent-change {
}

ion-card {
    ion-card-header {
        padding-bottom: 8px !important;
    }
}