$darkColor: #212121;
$lightColor: #fff;
.dark-theme {
    ion-content {
      background-color: $darkColor;
      color: $lightColor;

      ion-card {
        background-color: #424242;
        ion-card-header:first-child {
            color: $lightColor;    
        }
        ion-item {
            background-color: #424242;
            h2 {
                color: $lightColor;    
            }
            p {
                color: #BDBDBD;
            }
        }
        ion-card-content {
            p {
                color: $lightColor;    
            }
        }
      }
      ion-list {
          ion-item, ion-list-header {
            background-color: $darkColor;
            color: #fff;
            
          }
          
      }
      ion-grid {
          ion-row {
              ion-col {
                  ion-item {
                    background-color: $darkColor;
                    color: $lightColor;
                    ion-label {
                        color: $lightColor !important;
                    }
                  }
              }
          }
      }
    }
   
    .toolbar-title {
      color: $lightColor;
    }

    ion-tabs {
        ion-tab {
            background-color: $darkColor;    
        }
    }
  }  