// color variables
$dark: #212121;
$light: #fff;
$gray: #BDBDBD;
$darkGray: #424242;
$lightBlue: #536DFE;

.dark-theme {
    ion-list-header {
        background-color: $dark;
        color: $light;
    }
    ion-header {
        ion-toolbar {
            .toolbar-background {
                background-color: $dark;
            }
            .searchbar-input {
                background-color: $darkGray;
                color: $light;
            }
        }
    }

    ion-content {
      background-color: $dark;
      color: $light;

      ion-card {
        background-color: $dark;
        ion-card-header:first-child {
            color: $light;    
        }
        ion-item {
            background-color: $dark;
            h2 {
                color: $light;    
            }
            p {
                color: $gray;
            }
        }
        ion-card-content {
            p{
                color: $light !important;    
            }
            div {
                h2 {
                    color:$light !important;
                }
                
            }
        }
      }
      ion-list {
          ion-item, ion-list-header {
            background-color: $dark;
            color: $light;
          }
          
      }
      ion-grid {
          ion-row {
              ion-col {
                  ion-item {
                    background-color: $dark;
                    color: $light;
                    ion-label {
                        color: $light !important;
                    }
                  }
              }
          }
      }
    }
   
    .toolbar-title {
      color: $light;
    }

    .tabbar {
        background-color: $dark !important;
        .tab-button, .tab-button-icon {
            color: $gray !important;
        }
        .tab-button[aria-selected=true] , .tab-button[aria-selected=true] .tab-button-icon {
            color: $lightBlue !important;
        }
    }

    form {
        ion-row {
            ion-item {
                background-color: $dark;
                color: white;
                ion-label {
                    color: $gray !important;
                }
            }
            
        }
    }
  }  