// Font path is used to include ionicons, roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include rtl styles in your app. 
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
//$list-md-border-color: #E0E0E0;

// Named Color Variables
$colors: (
  primary:    #3F51B5,
  secondary:  #00E676,
  positive:   #1DE9B6,
  negative:   #FF4081,
  premium:    #FFC107,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #212121,
  google:     #DB4437,
  facebook:   #3B5998,
  twitter:    #1DA1F2,
);

// App Theme
@import "light-theme";
@import "dark-theme";

// Ionicons
@import "ionic.ionicons";

// Fonts
@import "roboto";
@import "noto-sans";
