<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{coin.name}} News
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let article of articles" (tap)="openBrowser(article.url)">
    <ion-item>
      <h2 text-nowrap style="font-weight: bold; text-overflow: ellipsis; overflow: hidden;">{{article?.title}}</h2>
      <p *ngIf="article.author">by {{article.author}}</p>
    </ion-item>
    <img [src]="article.urlToImage" onError="this.src='assets/imgs/stock-article.jpg'">

    <ion-card-content>
      <p>{{article.description}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <ion-note>{{article.source.name}}</ion-note>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col text-right>
        <ion-note>
          {{article.publishedAt.split('T')[0] | timeAgo}}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
