<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Portfolio
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="auth.user | async; then authenticated else notAuthenticated">
    <!-- template will replace this div -->
  </div>
  <!-- User NOT logged in -->
  <ng-template #notAuthenticated>
    <div class="spinner" *ngIf="showSpinner; else showSignIn">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
    <ng-template #showSignIn>
      <h3 text-center>Sign in to get started...</h3>
      <ion-list no-border>
        <ion-item (tap)="openEmailLoginPage(false)">
          <ion-icon name='mail' item-start></ion-icon>
          <ion-label>Email</ion-label>
        </ion-item>
        <ion-item (tap)="auth.signInWithSocial('google')">
          <ion-icon name='logo-google' item-start color="google"></ion-icon>
          <ion-label>Google</ion-label>
        </ion-item>
        <ion-item (tap)="auth.signInWithSocial('facebook')">
          <ion-icon name='logo-facebook' item-start color="facebook"></ion-icon>
          <ion-label>Facebook</ion-label>
        </ion-item>
        <ion-item (tap)="auth.signInWithSocial('twitter')">
          <ion-icon name='logo-twitter' item-start color="twitter"></ion-icon>
          <ion-label>Twitter</ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </ng-template>
  <!-- User logged in -->
  <ng-template #authenticated>
    <div *ngIf="auth.user | async as user;">
      <div *ngIf="(holdings); else emptyState">
        <h1 padding-horizontal style="font-weight: 700;">Value: {{totalValue | currency}}</h1>
        <canvas baseChart style="margin-top: 25px;" [data]="chart.data" [chartType]="chart.type" [labels]="chart.labels" [colors]="chart.colors"
          [options]="chart.options">
        </canvas>
        <ion-list margin-top no-lines>
          <ion-item-sliding #item *ngFor="let holding of holdings | async; let i = index">
            <ion-item [ngStyle]="{'border-left': '10px solid' + (i < chart.colors[0].backgroundColor.length ? chart.colors[0].backgroundColor[i] : '#E0E0E0')}"
              (tap)="displayHoldingInfo(holding)">
              <strong>{{holding.coin.name}}</strong>
              <ion-note margin-left item-end>{{holding.amount}} {{holding.coin.symbol}}</ion-note>
              <span item-end>{{chart.data[i] | currency}}</span>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="danger" (click)="removeHolding(holding)">
                <ion-icon name="close"></ion-icon>
                Remove
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <ion-grid>
          <ion-note text-center>* Update your holdings as you make transactions.</ion-note>
        </ion-grid>
      </div>
      <ng-template #emptyState>
        <div class="spinner" *ngIf="showSpinner; else showEmptyState">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
        <ng-template #showEmptyState>
          <div text-center style="margin-top: 75px;">
            <h3 ion-text color="secondary" style="font-weight:700;">Your portfolio is hungry.</h3>
            <img src="../../assets/imgs/donut.png" padding-horizontal margin-top>
            <h5 style="color: grey; font-weight:300" margin-top>Add holdings to feed it.</h5>
          </div>
        </ng-template>
      </ng-template>
      <ion-fab top right>
        <button ion-fab mini color="secondary" (tap)="displayWallets()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
    </div>
  </ng-template>
</ion-content>
