<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Portfolio
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="auth.user | async; then authenticated else notAuthenticated">
    <!-- template will replace this div -->
  </div>
  <!-- User NOT logged in -->
  <ng-template #notAuthenticated>
    <div class="spinner" *ngIf="showSpinner; else showSignIn">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
    <ng-template #showSignIn>
      <ion-grid style="height: 100%;">
        <ion-row justify-content-center align-items-center style="height: 100%;">
          <button ion-button color="secondary" (tap)="openLoginPage()">Join Cryptofy</button>
        </ion-row>
      </ion-grid>
    </ng-template>
  </ng-template>
  <!-- User logged in -->
  <ng-template #authenticated>
    <div *ngIf="auth.user" style="height: 100%;">
      <div *ngIf="!showFingerprint; else fingerprintMessage">
        <div *ngIf="(holdings.length > 0); else emptyState">
          <h1 padding-horizontal style="font-weight: 700;" class="fadeIn">Value: {{ currency == 'USD' ? (totalValue | currency) : '฿' + (totalValue | number:'1.0-5')}}</h1>
          <canvas baseChart style="margin-top: 25px;" [data]="chart.data" [chartType]="chart.type" [labels]="chart.labels" [colors]="chart.colors"
            [options]="chart.options" (chartClick)="chartClicked($event)">
          </canvas>
          <ion-list margin-top no-lines *ngIf="sorted">
            <ion-list-header>Your Holdings</ion-list-header>
            <ion-item *ngFor="let holding of holdings; let i = index" class="fadeIn" (press)="openHoldingOptions(holding, i)" [ngStyle]="{'border-left': '10px solid' + (i < chart.colors[0].backgroundColor.length ? chart.colors[0].backgroundColor[i] : '#E0E0E0'), 'background-color': (i == activeIndex) ? '#9E9E9E' : 'transparent'}">
              <strong>{{holding.coin.name}}</strong>
              <ion-note item-end>{{holding.amount}} {{holding.coin.symbol}}</ion-note>
              <span item-end margin-right>{{currency == 'USD' ? (holding.value | currency) : '฿' + (holding.value | number:'1.0-5')}}</span>
              <ion-icon name='more' item-end (tap)="openHoldingOptions(holding, i)"></ion-icon>
            </ion-item>
          </ion-list>
          <ion-grid *ngIf="sorted" class="fadeIn">
            <ion-note text-center>* Update your holdings as you make transactions.</ion-note>
          </ion-grid>
        </div>
        <ng-template #emptyState>
          <div class="spinner" *ngIf="showSpinner; else showEmptyState">
            <div class="dot1"></div>
            <div class="dot2"></div>
          </div>
          <ng-template #showEmptyState>
            <div text-center style="margin-top: 75px;">
              <h3 ion-text color="secondary" style="font-weight:700;">Your portfolio is hungry.</h3>
              <img src="assets/imgs/donut.png" padding-horizontal margin-top>
              <h5 style="color: grey; font-weight:300" margin-top>Add holdings to feed it.</h5>
            </div>
          </ng-template>
        </ng-template>
      </div>
      <ng-template #fingerprintMessage>
        <h3 text-center style="color: grey; font-weight:300; margin-top: 25px;" margin-top>Fingerprint Required.</h3>
        <ion-grid style="height: 100%;">
          <ion-row justify-content-center align-items-center style="height: 100%;">
            <ion-icon color="secondary" name='finger-print' style="font-size: 60px;" (tap)="openFingerprintDialog()"></ion-icon>
          </ion-row>
        </ion-grid>
      </ng-template>
      <ion-fab *ngIf="!showFingerprint" top right>
        <button ion-fab mini color="secondary" (tap)="openCoinSelectionPage()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
    </div>
  </ng-template>
</ion-content>
